.container__darkMode{
    position: fixed;
    padding: .5em;
    background-color: rgb(50, 43, 156);
 border-radius: 10px;
    
    left: 170px;
    bottom: 50px;
    font-size: 1.5rem;

}

.opciones_darkMode{
display: flex;
flex-direction: column;
border-radius: 5px;
padding: .3em;
width: 100%;
background-color: rgb(27, 93, 192);
}

.Label__darkMode{
color: white;
/* font-size: 1rem; */
}

select{
    font-size: 1rem;
}