/* .container_general
.etiqueta__a {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 0;
    margin: 0;
} */


/*  */
/*//////////////////////////////////////////*/
.circulo__descarga {

  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  /* Sombra azul rgb(14, 8, 37)eléctrico */
  background: radial-gradient(circle at center, #12125c, #0c1053, #040180, #100f55, #9492df, #dcdce9);
  /* Establece el degradado radial con tonos intermedios */

  /* width:120px; */
  aspect-ratio: 1;
  height: 100px;
  padding: 0em;
  border-radius: 50%;
  border: groove 5px rgb(43, 26, 141);
  box-shadow: 0px 0px 2px 2px rgb(62, 64, 80);
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

/*================================================*/





/*  icono font de Descarga */
.circulo__descarga .bx {
  color: red;
  font-size: 50px;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  /* padding: .1em; */
  text-shadow: 2px 2px 9px white;
 filter: drop-shadow(0px 0px 8px #cec21e);
 top:4px
}


/* Titulo "Descargar"  */
.circulo__descarga h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: rgb(26, 44, 9);
  text-shadow: 1px -1px 3px rgb(148, 144, 158);
  filter: drop-shadow(0px 0px 3px white);
  font-weight: 700;
  bottom: 25px;
}

/* Titulo "CV"  */
.circulo__descarga h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: rgb(26, 44, 9);
  text-shadow: 1px -1px 2px  white;
  filter: drop-shadow(0px 0px 3px white);
  font-weight: 700;
  bottom: 7px;
}

.titulo__whatsapp{
  font-family: 'Times New Roman', Times, serif;
      
     
      font-size:15px ;
      color: rgb(26, 44, 9);
      
      bottom: 20px;  
      letter-spacing: .5px;
}

