.container_general{
    /* background-color: aqua;  */
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(264, 66, 0);
    font-size: 25px;
    gap: .5em; 
  }
  
  .container_general button{
      padding: .5em;
      font-size: 20px;
      border-radius: 10px;
  background-color: rgb(122, 122, 124);
  
  }